.container {
    width: 100%;
    display: flex;
    gap: 8px;
    & span {
        display: flex;
        gap: 5px;
        cursor: pointer;
        color: var(--second-text);
        font-size: 16px;
        line-height: 18.75px;
        font-weight: 400;
        & p:hover {
            color: var(--blue);
            cursor: pointer;
        }
        & p:last-child{
            color: var(--blue);
        }
      }
}