.container {
    padding: 12px 0;
    background-color: var(--second-bg);

    .wrapper {
        max-width: 1200px;
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navigation {
        display: flex;
        align-items: baseline;
        gap:25px;

        &_item {


            &_icon {
                margin-bottom: 3px;
            }
        }
    }
}