.container {
    display: flex;
    flex-direction: column;
    gap:10px;
    max-width: 285px;
    width: 100%;

    &_images {
        background-color: var(--second-bg);
        padding: 15px 25px;
        border-radius: 16px;
        text-align: center;
    }

    &_info {
        display: flex;
        gap:5px;
        flex-direction: column;
        & h4 {
            line-height: 18.75px;
            font-weight: 600;
            font-size: 16px;
        }

        & p {
            color: var(--second-text);
            font-weight: 300;
        }

        & h3 {
            line-height: 21.09px;
            font-weight: 600;
            font-size: 18px;
        }

        &_rating {
            display: flex;
            align-items: center;
            gap:5px;
            & p {
                font-size: 14px;
                color: var(--title-black);
                font-weight: 300;
            }
        }
    }
}